html{
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  background-image: url('../img/backgroundAndBaby.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.photos:hover {
  box-shadow: 0 0 10px rgba(60, 105, 135, 0.9);
  border-color: #1AA0D1;
}
.photos {
  position: absolute;
  max-height: 300px;
  /*top: 25px;*/
  right: 30px;
  transition: 700ms;
  /*transform-origin: 50% 130%;*/
  border: 5px ridge darkred;
  border-radius: 15px;
}
.rowImg:hover img.one {
  transform: rotate(-360deg);
}
.list {
  position: relative;
  width: 30%;
  float: right;
  height: 300px;
  margin-top: 40px;
  z-index: 1;
}
.list img.photos {
  height: 300px;
}

footer {
  color: white;
  position: absolute;
  bottom: 10px;
}
header a {
  text-decoration: none;
  color: black;
}
h1 {
  background: linear-gradient(to right, #1AA0D1, darkred);
  width: 250px;
  text-align: center;
  border-radius: 25px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  border: 1px double darkred;
}
