<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Smiling Knite</title>
  <link rel="stylesheet" href="me.css">


</head>

<body>

  <header>
    <a href="index.html">
      <h1>About This Dude</h1></a>
  </header>

  <div class="list ">
    <div class="rowImg">
      <img class="photos one" src="imgFiles/waffles.png" alt="Waffles!">
    </div>
  </div>

  <div class='paper'>
    <div class='header'>
      <h2>Tyler Mondragon</h2>
      <p class='email'><b> tydragon4@gmail.com</b></p>
    </div>
    <h3>Summary of Canidate</h3>
    <p class="sum">
      Aspiring and talented young animator and illustrator with a passion for the creative arts, especially, creating cartoons by hand drawing sequences to create media. Innovative and ready to learn to produce or enhance any production on the internet, on
      the big screen or in video. Demonstrated ability to learn and create computed based animations using Xcode to program mobile IOS app designs in 2D and 3D. I am a hands-on learner and I love using my creativity to draw, create animations and make
      music.
    </p>


    <h3>Education</h3>
    <ul>
      <li>Silicon Valley Career Technical Education 2015-2016 <br/> Mobile App and Design development - computer science program</li>
      <br />
      <li>JobTrain 2016 <br /> Web Development</li>
      <br />
      <li>High School Graduating Class of 2016 <br/> Los Gatos High School, 10 High School Court, Los Gatos, CA 95030</li>
    </ul>

    <h3>Ceative Art Skills</h3>
    <ul>
      <li>Ability to illustrated expressive characters and hand draw zany characters.</li>
      <li>Long exposure of nature and urban photography.</li>
      <li>Talented with the guitar, drums and singing.</li>
      <li>Ability to create storyboard art.</li>
      <li> Web graphics, 2D and 3D modeling.</li>
    </ul>


    <h2>Interests</h2>
    <p class="sum">
      I love television and films and I try to find some sort of inspiration in the films I watch. I used to call, what I considered, profound and meaningful moments in my life <i>Movie Moments</i> and I use these thoughts in my art. Movies are like adventures
      where anything and everything is possible. So when I think artistically and creatively, I see everything in new and interesting ways.
      <br><br>
        From zany cartoons to intense action or horror sequences, I see something creative and surreal that I can create. For example, I can image monkeys jumping up and down on a teacher's desk or cupcake monsters taking over my notebooks. I use these thoughts
        as inspiration. I see something creative or humorous in almost everything. I used my imagination to create funny stories. Just picturing what could be created and how funny things would look like when I image my art. This is when art is most interesting
        to me.
      </p>

  </div>


  <footer>
    Copyright &copy; Tyler Mondragon 2016
  </footer>

  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

  <script>
  </script>
</body>

</html>
